body {
    margin: 0px;
    background-color: #1f1f1f;
}

#particles-js {
    width: 100%;
    height: auto;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    top: 0px;
    bottom: 0px;
}

.particles {}

#container {
    position: relative;
}

.title {
    position: absolute;
    top: 0px;
}