body {
    margin: 0px;
    background-color: #a71e27;
}

#particles-js {
    width: 100%;
    height: auto;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    top: 0px;
    bottom: 0px;
}

.particles {
    height: 500px;
}

#container {
    position: relative;
}

.title {
    position: absolute;
    top: 0px;
}